@{
    ViewBag.Title = "AppointmentSchedule";
}
<!DOCTYPE html>

<html ng-app="appointmentSchedule">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Token List</title>

    <script src="~/Content/Scripts/dirPagination.js"></script>

    <script src="~/Content/Modules/AppointmentScheduleModule.js"></script>
    <script src="~/Content/Controllers/AppointmentScheduleController.js"></script>
    <script src="~/Content/Services/AppointmentScheduleService.js"></script>


</head>
<body ng-cloak>
    <div growl></div>
    <div ng-controller="AppointmentScheduleCntrl">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-head-line">Appointment Schedule ({{today}})</h1>                
            </div>            
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h3><p class="text-right">{{Doctor.DoctorName}} ({{Doctor.Speciality}})</p></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-3">
                        <input type="text" ng-model="searchTb" class="form-control" placeholder="Search" /><br />
                    </div>
                </div>
                <div class="table-responsive table-bordered">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>S No.</th>
                                <th>Patient No</th>
                                <th>Patient Name</th>                                
                                <th>Start Time</th>
                                <th>End Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="appointment in appointmentList | filter : searchTb">
                                <td>{{$index+1}}</td>
                                <td>{{appointment.PatientNo}}</td>
                                <td>{{appointment.PatientName}}</td>
                                <td>{{appointment.StartTime}}</td>
                                <td>{{appointment.EndTime}}</td>                                
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; background-color: #ECEFF1; z-index: 30001; opacity: .8; filter: alpha(opacity=70); display: none">
                    <p style="position: absolute; top: 30%; left: 45%; color: #000; font-weight:bold;font-size:18px;text-align:center">
                        <img src="~/Content/images/8.gif"><br />
                        please wait...
                    </p>
                </div>
            </div>
        </div>

    </div>


</body>
</html>