@{
    ViewBag.Title = "User Register";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Users</title>

    <script src="~/Content/Scripts/dirPagination.js"></script>

    <script src="~/Content/Modules/UserModule.js"></script>
    <script src="~/Content/Controllers/UserController.js"></script>
    <script src="~/Content/Services/UserService.js"></script>

</head>
<body ng-app="user" ng-cloak>
    <div ng-controller="UserCntrl">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-head-line">@ViewBag.Title</h1>
                @*<h1 class="page-subhead-line">This is dummy text , you can replace it with your original text. </h1>*@

            </div>
        </div>     
        <div class="row">
            <div growl></div>
            <div class="col-lg-3">
                <div class="form-group {{ClassOfUNameTB}}">
                    <label for="exampleInputEmail1">User Name</label>
                    <input type="text" class="form-control" ng-model="UserName" ng-keyup="CheckAvailability()" placeholder="Enter User Name">
                    <i class="{{ClassOfUNameMsg}}" ng-style="{color:Color}"></i>  <span ng-style="{color:Color}" style="font-weight:bold;">{{Msg}}</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label for="exampleInputEmail1">Selet Role</label>
                    <select class="dropdown-header" ng-model="RoleId" ng-options="c.Value as c.Text for c in roleList" ng-change="roleChange()">
                        <option value="">-- Select --</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label for="exampleInputEmail1">First Name</label>
                    <input type="text" class="form-control" ng-model="FName" placeholder="Enter First Name">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label for="exampleInputEmail1">Last Name</label>
                    <input type="text" class="form-control" ng-model="LName" placeholder="Enter Last Name">
                </div>
            </div>
        </div>
        <br />

        <div class="panel panel-info" ng-show="isDoctor">
            <div class="panel-heading">
                Doctor
            </div>
            <div class="panel-body">
                <div class="row">


                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Select Speciality</label>
                            <select class="dropdown-header" ng-model="SpecialityId" ng-options="c.Value as c.Text for c in specialityList">
                                <option value="">-- Select --</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Room No</label>
                            <input type="text" class="form-control" ng-model="RoomNo" placeholder="Enter Room No">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                Address
            </div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Line 1</label>
                                <input type="text" class="form-control" ng-model="Line1" placeholder="Enter Line 1">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label for="exampleInputEmail1">City</label>
                                <input type="text" class="form-control" ng-model="City" placeholder="Enter City">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Province</label>
                                <input type="text" class="form-control" ng-model="Province" placeholder="Enter Province">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <label for="exampleInputEmail1">Zip Code</label>
                            <input type="text" class="form-control" ng-model="ZipCode" placeholder="Enter Zip Code">
                        </div>
                    </div>
                </div>
            </div>
        </div><br />

        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-3">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Emial Id</label>
                        <input type="text" class="form-control" ng-model="EmailId" placeholder="Enter Emai Id">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Mobile No</label>
                        <input type="text" class="form-control" ng-model="Mobile" placeholder="Enter Mobile No" ng-change="MobileChange()">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label for="exampleInputEmail1">DOB</label>
                        <input type="date" value="21/08/1995" class="form-control" ng-model="DOB" id="datepicker" placeholder="Enter DOB">
                    </div>
                </div>
                <div class="col-lg-3">
                    <label for="exampleInputEmail1">Password</label>
                    <input type="password" class="form-control" ng-model="Password" placeholder="Enter Password" ng-disabled="true">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Image</label>
                        <input type="file" class="form-control" ng-model="Image" onchange="angular.element(this).scope().selectFileforUpload(this.files)" accept="image/*">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group" style="margin-top:25px;">
                        <button type="button" class="btn btn-primary" ng-click="SaveData()">Save</button>
                        <button type="button" class="btn btn-primary" ng-click="Clear()">Clear</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; background-color: #ECEFF1; z-index: 30001; opacity: .8; filter: alpha(opacity=70); display: none">
                    <p style="position: absolute; top: 30%; left: 45%; color: #000; font-weight:bold;font-size:18px;text-align:center">
                        <img src="~/Content/images/8.gif"><br />
                        please wait...
                    </p>
                </div>
            </div>
        </div>
    </div>

</body>

</html>



